{% extends 'base.html' %}
{% load static %}
{% block 'content' %}

<div class="container py-5">
    <div class="row mt-5">
        <a href="/add_blog" class="btn btn-primary">Add New</a>
    </div> <br>

    <form action="/dashboard" method="post">
        {% csrf_token %}
        <label for="sort-select"> <h6>Sort by:</h6></label>
        <select name="sortby" action="/" id="sort-select">
            <option value="date">Sort by written Date</option>
            <option value="length">Sort by description Length</option>
        </select>
        <input type="submit" value="Sort" class="btn btn-success">
    </form>

    <table class="table table-hover mt-5">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Written on</th>
            <th>Last edited on</th>
            <th>Comments</th>
            <th>Actions</th>
        </tr>

        {% for blog, comment in blog_comment_pairs %}

        <tr>
            <td>
                <img src="{{ blog.imageURL }}" alt="" width="80px">
            </td>
            <td><a href="/single_blog/{{blog.id}}">{{ blog.title }}</a></td>
            <td>{{ blog.description|truncatewords:50 }}</td>
            <td>{{ blog.category }}</td>
            <td>{{ blog.created_at }}</td>
            <td>{{ blog.edited_at }}</td>
            <td>
            <a href="/blog/{{blog.id}}#comments-section" class="btn btn-comment">{{comment}} Comments</a>
            </td>
            <td>
                <a href="" class="btn btn-success">Update</a>
                <a href="\delete_blog\{{blog.id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>

        {% endfor %}
    </table>
</div>

{% endblock 'content' %}